<h1>About the Coolest Store</h1>
<p>Hello and welcome to the Coolest Store! Are you someone trying to improve your coding skills to the next level? Welll look no further!
This site has all the materials you will need to improve your coding skills to a professional level. The three text books we see are some of
professionals top hand picked selections on coding! So, what are you waiting for? Login to our website and get the wheels rolling on your coding 
career!</p>
